footer {
    background-color: #2C064A;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: -4px;
    left: 0;
    color: white;
}

audio {
    background-color: #2C064A;
    width: 400px;
    margin-top: 13px;
    border: none;
}

audio::-webkit-media-controls-play-button {
    background-color: white;
    border-radius: 1000px;
}

audio::-webkit-media-controls-panel {
    background-color: #2C064A;
    width: 300px;
}

audio::-webkit-media-controls-current-time-display {
    background-color: #2C064A;
    color: white;
}

audio::-webkit-media-controls-time-remaining-display {
    color: white;
}

audio::-webkit-media-controls-timeline {
    background-color: #2C064A;
    color: aqua;
    border-radius: 1000px;
    width: 100px;
}

audio::-webkit-media-controls-volume-slider {
    background-color: white;
    border-radius: 1000px;
}

audio::-webkit-media-controls-mute-button {
    background-color: white;
    border-radius: 1000px;
}

audio::-webkit-media-controls-enclosure {
    background: none;
}


.flex-3 {
    display: flex;
    align-items: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    display: flex;
    justify-content: center;
}

svg {
    font-size: 10px;
    width: 10px;
}

.player__song-btn {
    font-size: 13px;
}

.image-music img {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    margin-top: 9px;
}

.icon-play-music {
    display: flex;
    gap: 10px;
    margin-left: 40px;
    padding: 30px;
}

.flex {
    display: flex;
}

.title-music {
    display: grid;
    padding: 15px;

}

.name_author {
    color: grey;
    font-size: 13px;
}

.option_music {
    display: flex;
    gap: 20px;
    padding: 15px;
}

.player__control-btn {
    display: flex;
}

.image-music img.rotate {
    animation-name: rotate-animation;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotate-animation {
    from {
        transform: rotate(0deg);

    }

    to {
        transform: rotate(360deg);
    }
}

.ca {
    position: absolute;
    bottom: -275.1px;
    width: 100%;
    transform: translateY(70%);
    transition: transform 0.5s ease-in-out;
}

.close-btn {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.detail {
    width: 100%;
    height: 570px;
    background-color:
        #41284D;
}

.scl-1 {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.fl-1 {
    display: flex;
}

.anhnen {
    padding: 10%;
}

.lyric {
    padding: 5%;
    margin-left: 15%;
}

.lyric p {
    font-weight: 600;
    font-size: 20px;

}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
}
.btn-next{
    margin: 0px;
    padding: 0px;
}
.next-music{
    font-size: 30px !important;
}

//responsive for tablet

@media (max-width: 739px) {
    .hideon_mobile {
        display: none;
    }

    footer {
        margin-bottom: 45px;
    }
}

@media (max-width: 992px) {
    .hideon_mobile {
        display: none;
    }

    audio {
        background-color: #2C064A;
        width: 290px;
        margin-top: 13px;
        border: none;
    }
}

//responsive for mobile

@media (max-width: 477px) {
    .hideon_mobile {
        display: none;
    }

    audio {
        background-color: #2C064A;
        width: 100px;
        margin-top: 13px;
        border: none;
        float: right;
    }

    audio::-webkit-media-controls-timeline {
        display: none;
    }
}