<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<footer>
    <div class="flex-3">
        <div class="container text-center">

            <div class="row">

                <!-- left -->
                <div class="col flex">
                    <div class="image-music">
                        <img src="../../../assets/img/music/listSong3/song10.jpg" alt="">
                    </div>
                    <div class="title-music">
                        <span>Yêu dến vậy</span>
                        <span class="name_author">911</span>
                    </div>
                    <div class="icon-play-music">
                        <div class="player__song-btn">
                            <i class="btn--icon icon--heart bi bi-heart-fill primary"></i>
                        </div>
                        <div class="player__song-btn">
                            <i class="btn--icon bi bi-three-dots"></i>
                        </div>
                    </div>
                </div>

                <!-- center -->
                <div class="col">
                    <audio controls>
                        <source src="../../../assets/music/listSong3/song13.mp3">
                        Your browser does not support the audio element.
                    </audio>

                </div>
                <!-- right -->
                <div class="col">
                    <!-- <div class="player__control">
                        <div class="player__control-btn">
                            <div class="control-btn btn-random is-small">
                                <i class="bi bi-shuffle"></i>
                            </div>
                            <div class="control-btn btn-prev">
                                <i class="bi bi-skip-start-fill"></i>
                            </div>
                            <div class="control-btn btn-toggle-play btn--play-song is-medium">
                                <i class="bi bi-pause icon-pause"></i>
                                <i class="bi bi-play-fill icon-play"></i>
                            </div>
                            <div class="control-btn btn-next">
                                <i class="bi bi-skip-end-fill"></i>
                            </div>
                            <div class="control-btn btn-repeat is-small is-medium">
                                <i class="bi bi-arrow-repeat"></i>
                            </div>
                        </div>
                    </div> -->

                    <div class="option_music player__options hide-on-mobile">
                        <div class="option_music player__options-container">
                            <div class="player__options-btn option-btn hide-on-tablet-mobile">
                                <i class="bi bi-camera-video btn--icon"></i>
                            </div>
                            <div class="player__options-btn option-btn hide-on-tablet-mobile">
                                <i class="bi bi-mic btn--icon"></i>
                            </div>
                            <div class="player__options-btn volume option-btn">
                                <i class="bi bi-volume-up btn--icon"></i>
                            </div>
                            <div class="player__volume-progress">
                                <input type="range" class="volume__range" value="100" step="1" min="0" max="100">
                                <div class="progress__track volume--track">
                                    <div class="progress__track-update"></div>
                                </div>
                            </div>
                            <div class="player__list-icon">
                                <i class="bi bi-music-note-list"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>