<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <div class="app_header-user">
        <div class="app_user-avatar">
            <img src="./assets/images/avatar.jpg" alt="" class="app_user-img">
        </div>
        <span class="app_user-name">Trần Huyền My</span>
    </div>
    <!-- <div class="app_header-actions">
        <a href="#" class="vip-btn is-small button button-gold ">Mua vip ngay</a>
        <a href="#" class="vip-code-btn is-small button ">Nhập code vip</a>
        <a class="app_header-options options--log-out ">
            <i class="bi bi-three-dots"></i>
            <div class="option_log-out">
                <i class="bi bi-box-arrow-right log-out_icon"></i>
                <span>Đăng xuất</span>
            </div>
        </a>
    </div> -->
    <div class="content">
        <div class="content_navbar">
            <div class="content_navbar-container">
                <ul class="content_navbar-menu">
                    <li class="content_navbar-item"><span>Tổng quan</span></li>
                    <li class="content_navbar-item"><span>Bài hát</span></li>
                    <li class="content_navbar-item"><span>Playlist</span></li>
                    <li class="content_navbar-item"><span>Album</span></li>
                    <li class="content_navbar-item"><span>Mv</span></li>
                    <li class="content_navbar-item"><span>Nghệ sĩ</span></li>
                    <li class="content_navbar-item"><span>Tải lên</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid container_tab tab-home active" >
    <div class="content_container">
        <div  class="container_control row">
            <div  class="col l-12 m-12 c-12 mb-10">
                <div  class="container_header">
                    <a href="#" class="container_header-title">
                        <h3>Bài Hát&nbsp;</h3>
                        <i class="bi bi-chevron-right container_header-icon"></i>
                    </a>
                    <h3 class="container_header-subtitle">Bài Hát</h3>
                    <div class="container_header-actions">
                        <div class="button is-small container_header-btn ">
                            <input type="file" name="upload song" id="home_upload-input" class="container_header-input">
                            <label for="home_upload-input">
                                <i class="bi bi-upload container_header-icon"></i>
                                Tải lên
                            </label>
                        </div>
                        <button class="button is-small button-primary container_header-btn btn--play-all">
                            <i class="bi bi-play-fill container_header-icon"></i>
                            <span>Phát tất cả</span>
                        </button>
                    </div>
                </div>
            </div>
            <div style="display: flex;" class="col l-12 m-12 c-12 ">
                <div class="container_playmusic" style="width: 30%;">
                    <div class="container_slide ">
                        <div class="container_slide-show">
                            <div class="container_slide-item first">
                                <div style="background: url('./assets/images/slides/slide1.jpg') no-repeat center center / cover" class="container_slide-img"></div>
                            </div>
                            <div class="container_slide-item second">
                                <div style="background: url('./assets/images/slides/slide2.jpg') no-repeat center center / cover" class="container_slide-img"></div>
                            </div>
                            <div class="container_slide-item third">
                                <div style="background: url('./assets/images/slides/slide3.jpg') no-repeat center center / cover" class="container_slide-img"></div>
                            </div>
                            <div class="container_slide-item fourth">
                                <div style="background: url('./assets/images/slides/slide4.jpg') no-repeat center center / cover" class="container_slide-img"></div>
                            </div>
                            <div class="container_slide-item fourth">
                                <div style="background: url('./assets/images/slides/slide5.jpg') no-repeat center center / cover" class="container_slide-img"></div>
                            </div>
                            <div class="container_slide-item fourth">
                                <div style="background: url('./assets/images/slides/slide6.jpg') no-repeat center center / cover" class="container_slide-img"></div>
                            </div>
                            <div class="container_slide-item fourth">
                                <div style="background: url('./assets/images/slides/slide7.jpg') no-repeat center center / cover" class="container_slide-img"></div>
                            </div>
                            <div class="container_slide-item fourth">
                                <div style="background: url('./assets/images/slides/slide8.jpg') no-repeat center center / cover" class="container_slide-img"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<div class="container">
    <div class="title">
        <p>#zingchart</p>
    <div class="hert">
        <i class="bi bi-play-fill chart__header-icon"></i>
    </div>
    </div>

    <div class="layout">
        <div class="linemusic">
            <div class="left">
                <div><img src="../../../assets/img/artists/artist1.jpg" alt=""></div>
                <div class="author">
                    <span>Hẹn em ở lần yêu thứ 2</span>
                    <span style="font-size: 10px;color: grey;">Hương Ly</span>
                </div>
            </div>

            <div class="right">
                <i style="font-size: 25px;" class="bi bi-pause icon-pause bi bi-mic-fill"
                    [ngClass]="{ 'icon-pause': song1Playing, 'bi-play': !song1Playing }" (click)="toggleSong('1')"
                    data-song="1"></i>
                <i class="btn--icon song__icon icon--heart bi bi-heart"></i>
                <i class="btn--icon bi bi-three-dots"></i>
                <audio id="audioPlayer1"
                    src="../../../assets/music/HenEmOLanYeuThu2-NguyennDangTuanVu-8865500.mp3"></audio>  
                    <!-- <span>{{ song1Duration }}</span> Thời gian bài hát 1 -->
            </div>
        </div>

        <div class="hr"></div>
    </div>


    <div class="layout">
        <div class="linemusic">
            <div class="left">
                <div><img src="../../../assets/img/artists/artist2.jpg" alt=""></div>
                <div class="author">
                    <span>Yêu Là Cưới</span>
                    <span style="font-size: 10px;color: grey;">Phát Hồ, X2X,</span>
                </div>
            </div>

            <div class="right">
                <i style="font-size: 25px;" class="bi bi-pause icon-pause bi bi-mic-fill"
                    [ngClass]="{ 'icon-pause': song2Playing, 'bi-play': !song2Playing }" (click)="toggleSong('2')"
                    data-song="2"></i>
                <i class="btn--icon song__icon icon--heart bi bi-heart"></i>
                <i class="btn--icon bi bi-three-dots"></i>
                <audio id="audioPlayer2" src="../../../assets/music/listSong1/song1.mp3"></audio>
            </div>
        </div>

        <div class="hr"></div>
    </div>

    <div class="layout">
        <div class="linemusic">
            <div class="left">
                <div><img src="../../../assets/img/artists/artist3.jpg" alt=""></div>
                <div class="author">
                    <span>Em Là Con Thuyền Cô Đơn</span>
                    <span style="font-size: 10px;color: grey;">Thái Học</span>
                </div>
            </div>

            <div class="right">
                <i style="font-size: 25px;" class="bi bi-pause icon-pause bi bi-mic-fill"
                    [ngClass]="{ 'icon-pause': song3Playing, 'bi-play': !song3Playing }" (click)="toggleSong('3')"
                    data-song="3"></i>
                <i class="btn--icon song__icon icon--heart bi bi-heart"></i>
                <i class="btn--icon bi bi-three-dots"></i>
                <audio id="audioPlayer3" src="../../../assets/music/listSong1/song2.mp3"></audio>
            </div>
        </div>

        <div class="hr"></div>
    </div>


    <div class="layout">
        <div class="linemusic">
            <div class="left">
                <div><img src="../../../assets/img/artists/artist4.jpg" alt=""></div>
                <div class="author">
                    <span>Khuê Mộc Lang</span>
                    <span style="font-size: 10px;color: grey;">Hương Ly, Jombie</span>
                </div>
            </div>

            <div class="right">
                <i style="font-size: 25px;" class="bi bi-pause icon-pause bi bi-mic-fill"
                    [ngClass]="{ 'icon-pause': song4Playing, 'bi-play': !song4Playing }" (click)="toggleSong('4')"
                    data-song="4"></i>
                <i class="btn--icon song__icon icon--heart bi bi-heart"></i>
                <i class="btn--icon bi bi-three-dots"></i>
                <audio id="audioPlayer4" src="../../../assets/music/listSong1/song16.mp3"></audio>
            </div>
        </div>

        <div class="hr"></div>
    </div>
</div>
            </div>
    </div>
    </div>
    </div>
</div>
</body>
</html>

