<div class="container">
    <div class="bannerImg">
        <div class="hidenon_mobile"><img src="../../../assets/img/tabExplore/slides/slide3.jpg" alt=""></div>
        <div> <img src="../../../assets/img/tabExplore/slides/slide2.jpg" alt=""></div>
        <div> <img src="../../../assets/img/tabExplore/slides/slide1.jpg" alt=""></div>
    </div>

    <h3>Có Thể Bạn Muốn Nghe</h3>
    
    <div class="listbanner">
        <div class="list-in">
            <img src="../../../assets/img/tabExplore/normalPlaylists/playlistList1/playlist1.jpg" alt="">
            <span class="title_main">Mở Đầu Hoàn Hảo</span> <br>
            <span class="des">AMEE, ERIK, Hoàng Duyên</span>
        </div>
        <div class="list-in">
            <img src="../../../assets/img/tabExplore/normalPlaylists/playlistList1/playlist2.jpg" alt="">
            <span class="title_main">V-Pop: The A-List</span><br>
            <span class="des">Bích Phương, Hoàng Thùy Linh, ERIK</span>
        </div>
        <div class="list-in">
            <img src="../../../assets/img/tabExplore/normalPlaylists/playlistList1/playlist3.jpg" alt="">
            <span class="title_main">Tỏ Tình Nhẹ Nhàng Thôi</span><br>
            <span class="des">Quân A.P, Changg, Hoàng Duyên</span>
        </div>
        <div class="list-in hidenon_mobile">
            <img src="../../../assets/img/tabExplore/normalPlaylists/playlistList1/playlist4.jpg" alt="">
            <span class="title_main">Nhạc Trẻ Gây Nghiện</span><br>
            <span class="des">AMEE, Quân A.P, ERIK</span>
        </div>
        <div class="list-in hidenon_mobile">
            <img src="../../../assets/img/tabExplore/normalPlaylists/playlistList1/playlist5.jpg" alt="">
            <span class="title_main">HIT-MAKER: Nổi Bật</span><br>
            <span class="des">LyLy, RIN9, Vương Anh Tú</span>
        </div>
    </div>
</div>