<header>

    <div class="app_sidebar logo">
        <img src="../../../../assets/images/01339d5f8341521f0b50.jpg" alt="">
    </div>

    <ul class="list-unstyled app_sidebar sidebar_nav-list--separate ">
        <div class="sidebar-nav">
            <ul class="sidebar_nav-list">
                <li class="Text-Main">Main</li>
                <li class="sidebar_nav-item active"><a routerLink="dashboard" class="sidebar_item-link"><i
                            class="bi bi-music-player"></i> <span>Dashboard</span></a></li>
                <li class="sidebar_nav-item"><a routerLink="" class="sidebar_item-link"><i
                            class="bi bi-vinyl"></i> <span>List category</span></a></li>
                <li class="sidebar_nav-item"><a routerLink="" class="sidebar_item-link"><i
                            class="bi bi-vinyl"></i> <span>List user</span></a></li>
                <li class="sidebar_nav-item"><a routerLink="add" class="sidebar_item-link"><i
                            class="bi bi-music-note-list"></i> <span>Add Music</span></a></li>
                <li class="sidebar_nav-item"><a routerLink="" class="sidebar_item-link"><i
                            class="bi bi-music-note-list"></i> <span>Add category</span></a></li>
            </ul>
            <hr>
        </div>

    </ul>

</header>