.base {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 800px;
    background-color: #411465;
}

.app {
    display: flex;
    overflow: hidden;
    background-repeat: repeat;
    background-size: 1920px auto;
    will-change: scroll-position;
    background-color: var(--layout-bg);
    -webkit-tap-highlight-color: transparent;
    height: calc(100vh - var(--player-height));
}

.res {
    margin-left: 16.1%;
}

@media (max-width: 1500px) {

    .res {
        margin-left: 0%;
    }


}
