<div class="container">



  <form (submit)="onHandleSubmit()">
    <div class="form-group">
      <label for="productName">Name</label>
      <input type="text" class="form-control" id="productName" [(ngModel)]="productName" name="productName" required />

      <label for="productName">Image </label>
      <input type="text" class="form-control" id="productImage" [(ngModel)]="productImage" name="productImage"
        required />

      <label for="productAuthor">Tác giả </label>
      <input type="text" class="form-control" id="productAuthor" [(ngModel)]="productAuthor" name="productAuthor"
        required />

      <label for="productAudio">Audio</label>
      <input type="text" class="form-control" id="productAudio" [(ngModel)]="productAudio" name="productAudio"
        required />
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Sửa</button>
  </form>
</div>