<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul class="list-unstyled " style="height: 100vh; " >
        <div class="nav-top ">
            <img src="../../../assets/images/main-logo.svg" alt="" width="130px">
            <li><a routerLink="khampha">Khám Phá</a></li>
            <li><a routerLink="radio">Radio</a></li>
            <li><a routerLink="lib">Thư Viện</a></li>
        </div>
        <hr>
        <li><a routerLink="nhacmoi">Nhạc mới</a></li>
        <li><a routerLink="chude">Chủ Đề & Thể Loại</a></li>
        <li><a routerLink="top100">Top 100</a></li>
    </ul>
</body>
</html>