/* You can add global styles to this file, and also import other style files */
:root{
    --offset-x-second: calc(0px - ((230px - (230px * var(--scale-rate-second))) / 2 + 20px));
    --offset-x-third: calc(0px - ((230px - (230px * var(--scale-rate-third))) / 2 + 40px));
    --scale-rate-second: calc(196 / 230);
    --scale-rate-third: calc(162 / 230);
}